.dial-pad-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.dial-pad-page-top {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.history-btn {
  color: var(--c-yellow);
  padding: 5px;
  font-size: 28px;
}

.history-btn:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.03);
}

.backspace-btn {
  position: absolute;
  right: -5px;
  background-color: #0000;
  color: var(--c-red);
  border: none;
  padding: 5px;
  font-size: 28px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
}

.backspace-btn:disabled {
  color: var(--c-disabled);
}

.backspace-btn:not(:disabled):active {
  color: var(--c-red-dark);
}

.number-in {
  border: none;
  font-size: 24px;
  width: 180px;
}

.number-in:focus-visible {
  outline: none;
}

/* Firefox */
.number-in::placeholder { 
  color: var(--c-disabled);
}

/* Edge 12 - 18 */
.number-in::-ms-input-placeholder {
  color: var(--c-disabled);
}

.dial-pad-page-call-btn-ctn {
  height: 65px;
  width: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dial-pad-page .call-btn {
  position: absolute;
  font-size: 32px;
  padding: 10px;
  padding-left: 12px;
  width: 55px;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.05);
}

.dial-pad-page .call-btn:not(:disabled):hover {
  width: 66px;
  font-size: 38px;
  padding: 12px;
  padding-left: 15px;
}
