.number-edit-form {
  display: grid;
  grid-template-columns: 1.25fr 3fr 0.5fr;
  gap: 10px;
  align-items: end;
  position: relative;
}

.number-edit-form .error-message {
  font-size: 12px;
}

.number-edit-form-number-type {
  background-color: #0000;
  border: none;
  border-bottom: 2px solid var(--c-hover);
  color: var(--c-subtext);
}

.number-edit-form-number input {
  box-sizing: border-box;
  padding: 7px;
  width: 100%;
}

.number-edit-form-delete-btn {
  padding: 10px;
}
