.call-end-pane {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.call-end-pane-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.call-end-pane-msg-stat {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-end-pane-msg-stat-err {
  color: var(--c-red);
}

.call-end-pane-msg-stat-ok {
  color: var(--c-green);
}

.call-end-pane-msg-body {
  color: var(--c-subtext);
  font-size: 16px;
}

.call-end-pane-msg-dur {
  color: var(--c-subtext);
  font-size: 16px;
  font-weight: bold;
}

.call-end-pane-back-btn-ctn {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-end-pane-back-btn {
  /* position: absolute; */
  text-transform: uppercase;
  background-color: var(--c-green);
  color: var(--c-icon);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.05);
}

.call-end-pane-back-btn:hover {
  background-color: var(--c-green-dark);
  font-size: 22px;
}
