.call-active-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.call-active-pane-keypad-outer-con {
  position: relative;
  width: calc(230px + 30px);
}

.call-active-pane-keypad-inner-con {
  position: absolute;
  bottom: 0;
  z-index: 50;
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 10%;
}

.call-active-pane-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.call-active-pane-control-btn {
  font-size: 28px;
  padding: 15px;
}
