.phone-container-outer {
  width: 100vw;
  height: 100vh;
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.phone-container-inner {
  width: 325px;
  height: 580px;
  background: white;
}

