.phone {
  height: 100%;
  width: 100%;
}

.phone-navbar {
  height: 60px;
}

.phone-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

.transparent-btn {
  background-color: #0000;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transparent-btn:hover {
  background-color: var(--c-hover);
}

.transparent-btn:active {
  background-color: var(--c-active);
}

.delete-btn {
  color: var(--c-red);
}

.delete-btn:hover {
  color: var(--c-red-dark)
}

.delete-btn:active {
  color: var(--c-red)
}

.call-btn {
  background-color: var(--c-green);
  color: var(--c-icon);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.call-btn:not(:disabled):hover {
  background-color: var(--c-green-dark);
}

.call-btn:disabled {
  background-color: var(--c-disabled);
}

.hang-up-btn {
  background-color: var(--c-red);
  color: var(--c-icon);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.hang-up-btn:hover {
  background-color: var(--c-red-dark);
}
