.history-node {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  /* border-bottom: 2px solid var(--c-active); */
}

.history-node:hover {
  background-color: var(--c-hover);
}

.history-node:active {
  background-color: var(--c-active);
}

.history-node .call-btn {
  font-size: 21px;
  padding: 6px;
  padding-left: 8px;
  width: 36px;
  box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.025);
}

.history-node .call-btn:hover {
  font-size: 23px;
  padding: 7px;
  padding-left: 9.5px;
  width: 39px;
}
