.node-rolled-up {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}

.node-rolled-up-time {
  color: var(--c-subtext);
  font-size: 12px;
  font-weight: bold;
}

.icon-incoming {
  color: var(--c-gray);
}

.icon-outcoming {
  color: var(--c-green);
}

.icon-missed {
  color: var(--c-red);
}

.icon-failed {
  color: var(--c-blue);
}
