.phone-container-outer {
  width: 100vw;
  height: 100vh;
  background: var(--c-hover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.phone-container-inner {
  width: 300px;
  height: 580px;
  background: var(--c-background);
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

