.sip-account-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.sip-account-form-error {
  color: var(--c-red);
  font-size: 18px;
  text-align: center;
}

.sip-account-form-control-con {
  display: flex;
  gap: 7px;
  justify-content: right;
  width: 100%;
}

.sip-account-form-control {
  font-size: 24px;
  padding: 10px;
}

.upload {
  color: var(--c-blue);
}

.erase {
  color: var(--c-red);
}

.sip-account-form-text-in {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.sip-account-form-text-in > * {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sip-account-form-text-in label {
  font-size: 14px;
  color: var(--c-subtext);
  font-weight: bold;
}

.sip-account-form-text-in .text-input-icon {
  font-size: 24px;
  color: var(--c-gray);
}

.sip-account-form-text-in input {
  box-sizing: border-box;
  font-size: 18px;
  padding: 7px 10px;
  width: 100%;
  max-width: 100%;
  border: none;
  border-bottom: 2px solid var(--c-hover);
}

.sip-account-form-save-btn-ctn {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sip-account-form-save-btn {
  background-color: var(--c-green);
  color: var(--c-icon);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.05);
  width: fit-content;
}

.sip-account-form-save-btn:not(:disabled):hover {
  background-color: var(--c-green-dark);
  font-size: 22px;
}

.sip-account-form-save-btn:disabled {
  background-color: var(--c-disabled);
}
