.phone {
  height: 100%;
  width: 100%;
}

.phone-navbar {
  height: 60px;
}

.phone-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 60px);
}

.nav-tabs-container {
  position: absolute;
  bottom: 10px;
}

.text-input {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid var(--c-hover);
}

.text-input-label {
  color: var(--c-subtext);
  font-weight: bold;
}

.text-input-icon {
  color: var(--c-gray);
}

.error-message {
  font-size: 12px;
  color: var(--c-red-dark);
}

.green-btn {
  background-color: var(--c-green);
  color: var(--c-icon);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.green-btn:not(:disabled):hover {
  background-color: var(--c-green-dark);
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.05);
}

.green-btn:disabled {
  background-color: var(--c-disabled);
}

.green-btn:active {
  background-color: var(--c-green);
}

.circle {
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.transparent-btn {
  text-decoration: none;
  background-color: #0000;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transparent-btn:hover {
  background-color: var(--c-hover);
}

.transparent-btn:active {
  background-color: var(--c-active);
}

.transparent-rect-btn {
  text-decoration: none;
  background-color: #0000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all ease-in-out 0.3s;
  color: var(--c-subtext);
  font-weight: bold;
}

.transparent-rect-btn:hover {
  background-color: var(--c-hover);
}

.transparent-rect-btn:active {
  background-color: var(--c-active);
}

.delete-btn {
  color: var(--c-red);
}

.delete-btn:hover {
  color: var(--c-red-dark)
}

.delete-btn:active {
  color: var(--c-red)
}

.call-btn {
  background-color: var(--c-green);
  color: var(--c-icon);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.call-btn:not(:disabled):hover {
  background-color: var(--c-green-dark);
}

.call-btn:disabled {
  background-color: var(--c-disabled);
}

.hang-up-btn {
  background-color: var(--c-red);
  color: var(--c-icon);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.hang-up-btn:hover {
  background-color: var(--c-red-dark);
}

.pending {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;

  width: fit-content;
  color: #0000;
  /* -webkit-text-stroke: 1px var(--c-green); */
  background:
    radial-gradient(1.13em at 50% 1.6em, var(--c-green-dark) 105%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em, #0000 99%, var(--c-green-dark) 101%) 50% .8em/3.2em 100% repeat-x  text;
  animation: l9 2s linear infinite;
}

@keyframes l9 {
  to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
}
