.contact-numbers-number {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.contact-numbers-number-type {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-numbers-number-type-icon {
  display: flex;
  align-items: center;
}

.contact-numbers-number-ctn {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.contact-numbers-number-number {
  text-align: right;
}
